<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ccache" />
  <package id="cmake" />
  <package id="cppcheck" />
  <package id="doxygen.install" />
  <package id="golang" /> <!--needed to install yamlfmt-->
  <package id="graphviz" />
  <package id="llvm" /> <!--clang-tidy, llvm-profdata and llvm-cov-->
  <package id="make" />
  <package id="ninja" />
</packages>
