<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ccache" version="4.8.2" />
  <package id="cmake" version="3.27.1" />
  <package id="cppcheck" version="2.10" />
  <package id="doxygen.install" version="1.9.7" />
  <package id="graphviz" version="8.1.0" />
  <package id="lcov" version="1.15.0" />
  <package id="llvm" version="16.0.6" />
  <package id="make" version="4.4.1" />
  <package id="ninja" version="1.11.1" />
</packages>
