name: Continuous Integration

on: [push, workflow_dispatch]

concurrency:
  group: continuous-integration
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.os }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    timeout-minutes: 10

    env:
      ADDITIONAL_ARGS: ${{ matrix.os == 'ubuntu-latest' && '-DENABLE_CODE_COVERAGE=ON' || '' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Get CMake
        uses: lukka/get-cmake@latest

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v10
        with:
          vcpkgDirectory: "${{ github.workspace }}/external/vcpkg"
          vcpkgJsonGlob: "${{ github.workspace }}/vcpkg.json"
          # Since the cache must be invalidated when content of the vcpkg.json file changes, compute
          # its hash and append this to the computed cache's key.
          appendedCacheKey: ${{ hashFiles( '**/vcpkg.json' ) }}

      - name: Install Packages
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt-get update && sudo apt-get install gcovr lcov

      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: "ninja-multi-vcpkg"
          configurePresetAdditionalArgs: '[`-DENABLE_TESTING=ON`, `${{ env.ADDITIONAL_ARGS }}`]'
          buildPreset: "ninja-multi-vcpkg-debug"
          buildPresetAdditionalArgs: '[`--target unit_tests`, ` -j4`]'
          testPreset: "ninja-multi-vcpkg-debug"

      - name: Code Coverage
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
